<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Food Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<header>
    <h1>Top Food Recipes</h1>
</header>
<main class="container">
    {% for post in posts %}
    <div class="recipe-card">
        <img src="{{ post.image }}"
            width="400"
            height="500"/>
        <h2>{{ post.title }}</h2>
        <p class="author">By: {{ post.author }}</p>
        <pre>{{ post.recipe }}</pre>
    </div>
    {% endfor %}
</main>
</body>
</html>
